// @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://mybluekitchen.cooking/wp-content/themes/mbk/fonts/quicksand-regular.woff2) format('woff2'),
       url(https://mybluekitchen.cooking/wp-content/themes/mbk/fonts/quicksand-regular.woff) format('woff');
}
body {
  display: grid;
  min-height: 100vh;
  max-width: 100vw;
  font-size: ms(1);
  font-family: 'Quicksand', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  color: setcolor(black, base);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  &:focus:not(:focus-visible) {
    outline: none;
  }
}
a {
  color: setcolor(sea-blue, dark15);
  font-weight: 700;
  &:hover {
    color: setcolor(sea-blue, dark35);
  }
}


@supports((animation-timeline: scroll()) and (animation-range: 0% 100%)) {
  // https://scroll-driven-animations.style/demos/progress-bar/css/
  html {
    scroll-timeline: --page-scroll block;
  }
  @keyframes grow-progress {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
  }

  #progress {
    position: fixed;
    left: 0; 
    top: 0;
    width: 100%;
    height: 16px;
    background: setcolor(blue, base);
    transform-origin: 0 50%;
    animation: grow-progress auto linear;
    animation-timeline: --page-scroll;
    z-index: 350;
  }
}
