.branding {
  display: grid;
  position: fixed;
  width: 100%;
  &-image {
    height: auto;
    width: inherit;
    object-fit: contain;
    aspect-ratio: auto 2048 / 567;
  }
  &-lede {
    position: absolute;
    width: 100%;
    align-self: end;
    text-align: center;
    margin-bottom: 40px;
    padding: 2px 0px;
    background-color: rgba(setcolor(white, base), 0.05);
    backdrop-filter: blur(20px);
    border-top: 1px solid setcolor(sea-green, light25);
    border-bottom: 1px solid setcolor(sea-green, light25);
    font-size: ms(-1);
    font-weight: 700;
    text-shadow: 0 0 1px rgba(0,0,0,0.3), 0 0 1px rgba(0,0,0,0.3), 0 0 1px rgba(0,0,0,0.3), 0 0 1px rgba(0,0,0,0.3);
    color: setcolor(black, light25);
    @media (min-width: 40em) {
      margin-bottom: 0px;
      align-self: center;
      font-size: ms(4);
      color: setcolor(white, base);
    }
    @media (min-width: 74em) {
      padding: 24px 0px 24px 0px;
      font-size: ms(6);
    }
  }
}
