.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 4rem;
  // display: flex;
  // justify-content: space-around;
  display: grid;
  grid-template-columns: .25fr 1fr .25fr;
  background-color: rgba(setcolor(black, base), 0.15);
  backdrop-filter: blur(6px);
  box-shadow: 
    0px 0.9px 0.7px rgba(0, 0, 0, 0.034),
    0px 2.1px 1.8px rgba(0, 0, 0, 0.048),
    0px 4px 3.4px rgba(0, 0, 0, 0.06),
    0px 7.1px 6px rgba(0, 0, 0, 0.072),
    0px 13.4px 11.3px rgba(0, 0, 0, 0.086),
    0px 32px 27px rgba(0, 0, 0, 0.12);
  z-index: 500;
  @media (min-width: 90em) {
    justify-content: space-around;
  }
  &-backbutton {
    grid-column: 1 / 2;
    @extend %header-buttons;
    display: none;
    &-active {
      display: grid;
    }
    & svg {
      align-self: end;
      fill: setcolor(white, base);
      width: 2em;
      height: 2em;
      @extend %animate-helper;
    }
    @media (min-width: 90em) {
      display: none;
    }
  }
  &-back-text {
    margin-bottom: 0px;
    font-size:  ms(0);
    color: setcolor(white, base);
    @extend %animate-helper;
  }
  &-center {
    grid-column: 2 / 3;
    width: 100%;
    display: grid;
    @media (min-width: 90em) {
      padding-left: 2rem;
    }
    &-logo {
      grid-column: 1 / 2;
      align-self: center;
      justify-self: end;
      @media (min-width: 90em) {
        // justify-self: start;
        width: 52px;
        height: 52px;
      }
    }
    &-title {
      grid-column: 2 / 3;
      align-self: center;
      text-decoration: none;
      color: setcolor(white, base);
      font-size: ms(2);
      @extend %animate-helper;
      @media (min-width: 90em) {
        font-size: ms(5);
        justify-self: left;
      }
    }
  }
  &-menu {
    grid-column: 3 / 4;
    @extend %header-buttons;
  }
  &-magnify {
    position: fixed;
    display: grid;
    align-items: center;
    justify-items: center;
    right: 0px;
    top: 4rem;
    width: 3rem;
    height: 2.5rem;
    background-color: rgba(setcolor(sea-blue, base),0.75);
    border-radius: 30% 0% 0% 30%;
    border-top: 1px solid setcolor(sea-blue, dark25);
    border-bottom: 1px solid setcolor(sea-blue, dark25);
    border-left: 1px solid setcolor(sea-blue, dark25);
    cursor: pointer;
    z-index: 400;
    &-svg {
      height: 1.5rem;
      width: 1.5rem;
      fill: none;
      stroke-miterlimit: 10;
      stroke-width: 3rem;
      stroke-linecap: round;
      stroke: setcolor(white, base);
      &-close {
        stroke-width: 5rem;
        stroke: setcolor(red, base);
      }
    }
  }
  &-search {
    @extend %animate-helper;
    position: fixed;
    left: 0px;
    transform: translateY(-4rem);
    width: calc(100vw - 3rem);
    height: 2.5rem;
    border-bottom: 1px solid setcolor(sea-blue, base);
    z-index: 400;
    @media (min-width: 74em) {
      width: calc(100vw - 6rem);
      width: 25%;
      right: 0px;
      left: 70%;
    }
    &-active {
      transform: translateY(4rem);
    }
  }
}
.search {
  &-form {
    display: grid;
    grid-template-columns: 75% 25%;
    height: 4rem;
    background: setcolor(white, light65);
    & label {
      display: grid;
      align-items: center;
    }
  }
  &-field {
    margin-left: 1rem;
    width: 95%;
    height: 2.5rem;
  }
  &-submit {
    max-width: 70%;
    font-family: 'Quicksand';
    border: 1px solid setcolor(sea-blue, dark25);
    margin: 0.5rem;
    cursor: pointer;
    background-color: rgba(setcolor(sea-green, base), 0.35);
  }
}
.screen-reader-text {
  display: none;
}
.menu-button-text {
  @extend %animate-helper;
  color: setcolor(white, base);
  &-red {
    color: setcolor(red, base);
    font-weight: 700;
  }
}

//https://codepen.io/samikeijonen/pen/jqvxdL
.menu-toggle {
  font-size: 0.875em;
}

.icon {
  align-self: center;
  fill: setcolor(white, base);
	height: 1em;
	width: 1em;
}

/* Menu toggle styles. */

.icon-menu-toggle {
	width: 2em;
	height: 2em;
  top: 0;
  padding-left: 5px;
}

/* Animate menu icon (lines). */
.svg-menu-toggle .line {
  transform: rotate(0) translateY(0) translateX(0);
  transform-origin: 1em 1em;
  @extend %animate-helper;
}
.svg-menu-toggle .line-1 {
  transform-origin: 1em 2.5em;
}
.svg-menu-toggle .line-3 {
  transform-origin: 1em 4.5em;
}

.menu-toggle.opened .svg-menu-toggle .line-1 {
  transform: rotate(45deg) translateY(.75em) translateX(-.3em);
  fill: setcolor(red, base);
}
.menu-toggle.opened .svg-menu-toggle .line-2 {
  opacity: 0;
}
.menu-toggle.opened .svg-menu-toggle .line-3 {
  transform: rotate(-45deg) translateY(0em) translateX(0em);
  fill: setcolor(red, base);
}
