.nav {
  &-main {
    position: fixed;
    top: 1rem;
    right: 0;
    width: 45%;
    height: calc(100vh - 4rem);
    transform: translateX(100%);
    text-align: center;
    background: setcolor(white, light65);
    background-image: linear-gradient(setcolor(white, light65), setcolor(white, base));
    z-index: 450;
    @extend %animate-helper;
    &-open {
      transform: translateX(0) translateY(3rem);
      box-shadow: 10px 3px 4px 0px rgba(0,0,0,0.1);
      border-left: 1px solid setcolor(sea-blue, base);
    }
    @include breakpoint($medium) {
      width: 20%;
    }
    & > a {
      display: block;
      padding: 1rem 0px;
      color: setcolor(black, light25);
      text-decoration: none;
      border-bottom: 1px solid setcolor(sea-blue, base);
      @extend %animate-helper;
      &:hover {
        // color: setcolor(sea-blue, base);
        background-color: rgba(setcolor(sea-blue, base), 0.25);
      }
      &:first-of-type {
        padding: 8px;
        margin: 16px;
        color: setcolor(red, light25);
        font-weight: 700;
        text-decoration: none;
        border: 1px solid setcolor(red, base);
        border-radius: 0.5rem;
        cursor: pointer;
      }
      &:nth-of-type(2) {
        border-top: 1px solid setcolor(sea-blue, base);
      }
    }
  }
}
