.rtb-booking-form {
  & fieldset {
    padding: 1.25rem;
    margin-bottom: ms(6) !important;
    border-radius: 0.25rem;
    border: 1px solid setcolor(sea-blue, dark25);
    &:last-of-type {
      border: none;
    }
    & legend {
      font-size: ms(4);
      font-weight: 700;
    }
    & div {
      margin-top: 0px;
      padding-bottom: ms(2);
    }
    & input {
      width: 97%;
      line-height: ms(4);
      font-size: ms(2);
      cursor: pointer;
    }
  }
}

#rtb-party {
  height: ms(3);
  width: 4rem;
  cursor: pointer;
}

#rtb_recaptcha {
  display: none;
}

.rtb-form-submit {
  & button {
    height: ms(6);
    width: 97%;
    font-size: ms(3);
    border-radius: 0.25rem;
    border: 1px solid setcolor(sea-green, base);
    background-color: rgba(setcolor(sea-green, base), 0.15);
    @extend %big-box-shadow;
    cursor: pointer;
  }
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}
hr:after {
  background: #fff;
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;
}