.dinners {
  &-header {
    font-size: ms(3);
    font-weight: 700;
    border-bottom: 2px solid setcolor(blue, light45);
    border-top: 2px solid setcolor(blue, light45);
    padding: 16px 0px 16px 0px;
    margin: 16px 0px 16px 0px;
  }
  &-date {
    font-size: ms(-1);
    color: setcolor(black, light25);
  }
  &-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
  }
  &-button {
    position: relative;
    border: none;
    background: transparent;
    font-size: ms(1);
    border: 1px solid setcolor(sea-blue, base);
    padding: 16px 16px;
    margin: 1.5rem 0.5rem;
    border-radius: 0.5rem;
    @extend %big-box-shadow;
    @extend %expando-hover;
    cursor: pointer;
    &-active {
      background: rgba(setcolor(sea-blue, base), 0.25);
    }
  }
  &-menus {
    min-height: 901px;
    padding: 16px;
    border: 1px solid setcolor(black, base);
    border-radius: 16px;
  }
  &-menu {
    display: none;
    opacity: 0;
    animation: fadeIn 2s;
    &-header {
      font-size: ms(3);
      padding-top: 32px;
    }
    &-line {
      margin-bottom: 32px;
    }
    &-item {
      display: list-item;
      list-style-position: outside;
      margin: 32px;
      line-height: ms(3);
    }
    &-active {
      display: block;
      opacity: 1;
    }
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}