.events {
  &-list-header {
    @extend .home-list-header;
    border-bottom: 2px solid setcolor(blue, light45);
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
  }
  &-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 2rem;
  }
  &-item {
    display: grid;
    grid-template-rows: max-content;
    gap: 1rem;
    align-items: start;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid setcolor(sea-blue, base);
    border-radius: 0.25rem;
    //courtesy: shadows.brumm.af
    @extend %big-box-shadow;
    text-decoration: none;
    color: setcolor(black, base);
    &-header {
      font-weight: 700;
      border-bottom: 1px solid setcolor(sea-blue, base);
    }
    &-daytime {
      font-style: italic;
      color: setcolor(black, light35);
      font-size: ms(-1);
    }
  }
}