.events {
  &-list-header {
    @extend .home-list-header;
    border-bottom: 2px solid setcolor(blue, light45);
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
  }
  &-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 2rem;
  }
  &-item {
    display: grid;
    grid-template-rows: max-content;
    gap: 1rem;
    align-items: start;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid setcolor(sea-blue, base);
    border-radius: 0.25rem;
    //courtesy: shadows.brumm.af
    @extend %big-box-shadow;
    text-decoration: none;
    color: setcolor(black, base);
    &-header {
      font-weight: 700;
      border-bottom: 1px solid setcolor(sea-blue, base);
    }
    &-daytime {
      font-style: italic;
      color: setcolor(black, light35);
      font-size: ms(1);
    }
    &-button {
      position: relative;
      align-self: flex-end;
      width: 100%;
      margin-bottom: 2rem;
      padding: 1rem 0px;
      text-align: center;
      font-size: ms(1);
      text-decoration: none;
      color: setcolor(black, base);
      $color: setcolor(sea-blue, light95);
      color: invert($color);
      background-color: rgba(setcolor(sea-blue, light95),0.5);
      border-radius: 0.25rem;
      border: 1px solid setcolor(sea-blue, base);
      @extend %expando-hover;
      cursor: pointer;
      & svg {
        height: 25px;
        width: 25px;
        margin: 0px 0.75rem 0px 0.5rem;
        fill: scalecolor(green, base);
        stroke-width: 2px;
      }
    }
  }
  &-map {
    height: 25rem;
    width: 90%;
    justify-self: center;
    border-radius: 0.5rem;
    border: 1px solid setcolor(sea-blue, base);
    &-infoslider {
      border: 1px solid setcolor(sea-blue, base);
      padding: 0.25rem;
      margin: 0.25rem;
      font-size: ms(0);
      &-name {
        font-weight: 700;
      }
    }
  }
}