.content > p {
  &:first-of-type {
    display: block;
  }
}

.post {
  &-title {
    margin-bottom: 2rem;
    padding: 0.75rem 0px;
    border-top: 1px solid setcolor(blue, base);
    border-bottom: 1px solid setcolor(blue, base);
    font-size: ms(3);
  }
    &-strike {
      text-decoration:  line-through;
    }
    &-uses {
      list-style: inside;
      margin-bottom: 1rem;
    }
    &-button {
      position: relative;
      padding: 1rem 1rem;
      text-align: center;
      font-size: ms(1);
      text-decoration: none;
      color: setcolor(black, base);
      $color: setcolor(sea-blue, light95);
      color: invert($color);
      background-color: rgba(setcolor(sea-blue, light95),0.5);
      border-radius: 0.25rem;
      border: 1px solid setcolor(sea-blue, base);
      @extend %expando-hover;
    }
    &-recipe {
      &-title {
        padding: 1rem 0px;
        margin-bottom: 1rem;
        font-size: ms(3);
        font-weight: 700;
      }
      &-desc {
        margin: 3rem 0px 1rem 0px;
        padding: 0.5rem 0px 0.5rem 0px;
        border-top: 1px solid setcolor(black, light45);
        border-bottom: 1px solid setcolor(black, light45);
        font-size: ms(3);
        background-color: rgba(setcolor(sea-blue, base),0.1);
      }
      &-steps {
        & ol {
          list-style: none;
          counter-reset: awesome-counter;
          & li {
            list-style-position: inside;
            text-indent: -1.5em;
            padding-left: 1.5em;
            counter-increment: awesome-counter;
            margin-bottom: 1rem;
            &::before {
              content: counter(awesome-counter) ". ";
            }
          }
        }
      }
      &-stuff {
        & > p {
          line-height: ms(4);
          display: list-item;
          list-style: circle;
          margin-left: 1.5rem;
        }
      }
      &-notes {
        & p {
          margin-bottom: 1rem;
        }
      }
      & > p {
        line-height: ms(3);
      }
      &-buttons {
        // display: flex;
        // justify-content: space-evenly;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        align-items: center;
      }
    }
}

.cat-list {
  &-header {
    @extend .post-title;
    margin-top: 2rem;
  }
  &-post {
    @extend .cat-list;
    & p {
      margin-bottom: ms(1);
    }
  }
}

.print-button {
  grid-column: 1 / 2;
  @extend %recipe-buttons;
}
.share-button {
  grid-column: 2 / 3;
  @extend %recipe-buttons;
}


#error-page {
  font-size: ms(3);
}

.wp-post-image {
  margin-bottom: 3rem;
}
