.resy-link {
  text-decoration: none;
  text-align: center;
  padding: 1rem 0px;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid setcolor(sea-blue, base);
  @extend %big-box-shadow;
  cursor: pointer;
  &:hover {
    background-color: setcolor(sea-blue, light75);
  }
}