.resy-link {
  position: relative;
  text-decoration: none;
  text-align: center;
  padding: 1rem 0px;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid setcolor(sea-blue, base);
  @extend %big-box-shadow;
  cursor: pointer;
  @extend %expando-hover;
}