.header {
  position: relative;
  top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  box-shadow: none;
  background-color: rgba(250,250,250,0.0);
  &-center {
    display: block;
    transform: translateX(-150px);
    &-title {
      font-family: 'Quicksand';
      font-size: ms(2);
      color: setcolor(sea-blue, dark45);
    }
  }
}
